<ul id="primary-navigation-ul">
	<li class="primary-navigation"><a class="navigation-link" href="{{ site.baseurl }}/">Home</a></li>
    <li class="primary-navigation"><a class="navigation-link" href="{{ "/patterns/overview.html" | prepend:site.baseurl }}">Patterns</a></li>
    <li class="primary-navigation"><a class="navigation-link" href="{{ "/entwickler.html" | prepend:site.baseurl }}">Entwickler</a></li>
    <li class="primary-navigation"><a class="navigation-link" href="{{ "/designer.html" | prepend:site.baseurl }}">Designer</a></li>
	<li class="primary-navigation"><a class="navigation-link" href="{{ "/wissenschaftler.html" | prepend:site.baseurl }}">Wissenschaftler</a></li>

</ul>