<div id="menu_hori">
<div class="menu_horizontal">
<ul>
	<li><a class="menu-link" href="/sysplace/">HOME</a></li>
	<li><a class="menu-link" href="/sysplace/patterns/">PATTERN</a></li>
	<li><a class="menu-link" href="/sysplace/entwickler/">ENTWICKLER</a></li>
	<li><a class="menu-link" href="/sysplace/wissenschaftler/">WISSENSCHAFTLER</a></li>
	<li><a class="menu-link" href="/sysplace/designer/">DESIGNER</a></li>
</ul>
</div>
</div>

<div class="menu_vert">
	<ul>
		<li><a class="menu-vert-link" href="/sysplace/impressum/">IMPRESSUM</a></li>
		<li><a class="menu-vert-link" href="/sysplace/about/">ABOUT</a></li>
	</ul>
</div>

<a class="zu" href="#menu_kom"></a>
<a class="auf" href="#menu_back"></a>

<a id="pattern-download" href="#">
	<img class="download" src="icon_download.png">
</a>

<div id="menu_kom" class="detail">
	<div id="menu_back" class="detail_auf">
		<div class="open_background"><img src="icon_open.png"></div>
		<div class="menu_n">
			<div class="close_background"><img src="icon_close.png"></div>

			<div id="menu_m">
				<div class="category">Give</div>
				<ul>
					<li><a class="pattern-link" href="give_through_body.html">Give Through Body</a></li>
					<li><a class="pattern-link" href="nudge.html">Nudge</a></li>
					<li><a class="pattern-link" href="stitch_to_give.html">Stitch To Give</a></li>
					<li><a class="pattern-link" href="bump_to_give.html">Bump To Give</a></li>
					<li><a class="pattern-link" href="swipe_to_give.html">Swipe To Give</a></li>
					<li><a class="pattern-link" href="dump.html">Dump</a></li>
					<li><a class="pattern-link" href="approach_to_give.html">Approach To Give</a></li>
					<li><a class="pattern-link" href="tennis.html">Tennis</a></li>
					<li><a class="pattern-link" href="frisbee.html">Frisbee</a></li>
				</ul>

				<div class="category">Take</div>
				<ul>
					<li><a class="pattern-link" href="grab_a_part.html">Grab A Part</a></li>
					<li><a class="pattern-link" href="grab_an_object.html">Grab An Object</a></li>
					<li><a class="pattern-link" href="stitch_to_take.html">Stitch To Take</a></li>
					<li><a class="pattern-link" href="bump_to_take.html">Bump To Take</a></li>	
					<li><a class="pattern-link" href="picking_up_an_object.html">Picking Up An Object</a></li>
					<li><a class="pattern-link" href="approach_to_take.html">Approach To Take</a></li>
				</ul>

				<div class="category">Exchange</div>
				<ul>
					<li><a class="pattern-link" href="exchange_through_body.html">Exchange Through Body</a></li>
					<li><a class="pattern-link" href="bump_to_exchange.html">Bump To Exchange</a></li>
				</ul>

				<div class="category">Extend</div>
				<ul>
					<li><a class="pattern-link" href="extend_with_two_fingers.html">Extend With Two Fingers</a></li>
					<li><a class="pattern-link" href="appose.html">Appose</a></li>
					<li><a class="pattern-link" href="stitch_to_extend.html">Stitch To Extend</a></li>
					<li><a class="pattern-link" href="world_in_miniature.html">World In Miniature (!)</a></li>
					<li><a class="pattern-link" href="approach_to_extend.html">Approach To Extend</a></li>	
				</ul>

				<div class="category">Connect</div>
				<ul>
					<li><a class="pattern-link" href="shake_well_to_connect.html">Shake Well To Connect</a></li>
					<li><a class="pattern-link" href="stitch_to_connect.html">Stitch To Connect</a></li>
					<li><a class="pattern-link" href="bump_to_connect.html">Bump To Connect</a></li>
					<li><a class="pattern-link" href="approach_to_connect.html">Approach To Connect</a></li>
					<li><a class="pattern-link" href="leave_to_disconnect.html">Leave To Disconnect</a></li>
				</ul>
				</div>

			</div>
		</div>
	</div>
