<div id="menu_hori">
<div class="menu_horizontal">
<ul>
	<li><a class="menu-link" href="{{ site.baseurl }}/">HOME</a></li>
	<li><a class="menu-link" href="{{ "/patterns/" | prepend:site.baseurl }}">PATTERN</a></li>
	<li><a class="menu-link" href="{{ "/entwickler/" | prepend:site.baseurl }}">ENTWICKLER</a></li>
	<li><a class="menu-link" href="{{ "/wissenschaftler/" | prepend:site.baseurl }}">WISSENSCHAFTLER</a></li>
	<li><a class="menu-link" href="{{ "/designer/" | prepend:site.baseurl }}">DESIGNER</a></li>
</ul>
</div>
</div>

<div class="menu_vert">
	<ul>
		<li><a class="menu-vert-link" href="{{ "/impressum/" | prepend:site.baseurl }}">IMPRESSUM</a></li>
		<li><a class="menu-vert-link" href="{{ "/about/" | prepend:site.baseurl }}">ABOUT</a></li>
	</ul>
</div>